*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.background{
    width: 100%;
    height: 100%;
    overflow: cover; 
    box-sizing: border-box;
    background-color:rgb(0, 0, 0);
    background-size: cover;

}


/* About Me */
.aboutme{
    font-size: 25pt;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15pt;
    background-color: rgba(0, 0, 0, 0.062);
    color:rgb(255, 255, 255);
    text-align: center;
    width:40vw;
    /* border: red 3px solid; */
    line-height: 2.5;
    position: absolute;
    left: 37vw;
    bottom:2vw;
}

p.aboutme{
        padding: 10%, 10%;

}

h1.aboutme {
    position: absolute;
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30pt;
    text-decoration: underline;
    text-decoration-color: rgba(202, 164, 216, 0.817);
    top: 35vw;
    z-index: -1; 
}


/* My Picture */
.MY_PIC{
    position: relative;
    height: 20vw;
    width: 20vw;
    left:6vw;
    top:7vw;
    border-radius: 100em;
    opacity: 0; 
    animation: fadeIn 2s forwards;
    box-shadow: 0 10px 10px 10px rgba(107, 75, 119, 0.525); 
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start with opacity 0 */
    }
    to {
        opacity: 1; /* Fade to full opacity */
    }
}

.MY_PIC_container{
    position: absolute;
    left:15vw;
    top:10vw;
    color: white;
    
}


/* Scroll */
.scroll {
    scroll-behavior:smooth;

}


/* Bubbles */
.bubbles{
    position:relative;
    display:flex;
    justify-items: center;
}

.bubbles span{
    display:flex;
    position: relative;
    width:2vw;
    height:2vw;
    background: rgb(57, 160, 230);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow:0 0 0 10px rgb(11, 40, 65),
    0 0 50px rgb(57, 160, 230),
    0 0 100px rgb(57, 160, 230);
    animation: bubble 10s linear infinite;
    animation-duration: calc(600s / var(--i));
    z-index: -1;
}

@keyframes bubble{
    0%{
        transform:translateY(50vh) scale(0)
    }
    100%{
        transform:translateY(1vh) scale(1)
    }
}

.bubbles span:nth-child(even){
    background: rgb(212, 88, 250);
    box-shadow:0 0 0 10px rgb(64, 8, 88),
    0 0 50px rgb(212, 88, 250),
    0 0 100px rgb(212, 88, 250);
}


/* Title Texts */
.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    top:0em;
    margin-top: 0em;
    padding-top: 0px;
    color:rgb(255, 255, 255);
    font-size: 45pt;
    position: relative;
    z-index: -1; 
    font-weight: 100;
    letter-spacing: .1vw;
}

.paragraph{
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    margin-bottom: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15pt;
    background-color: rgba(0, 0, 0, 0.062);
    color:rgb(255, 255, 255);
    position: relative; 
    top:10vw;
    bottom:5em;
    z-index: 1; 
}


/* Background */
.bg-img{
    /* position:absolute; */
    background-color:transparent;
    color:transparent;
    min-height:150px;
    background-position:center;
    background-size:cover;
    position: relative;
    border:solid 3px transparent;
    /* box-shadow: 1px 1px 40px #da93f0e3; */
    position: relative; 
    /*  */
}

.box{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100;
    height:20vw;
}


/* Header */
.portfolio_header{
    height: 8em;
}


/* Font */
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
 }


 /* Big Name */
.name{
  font-family: "Dancing Script", cursive;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
  animation: animate 20s linear infinite;
  color:#c6e8ff;
  font-size: 60pt;
  text-transform: uppercase;
  background-color: rgba(16, 15, 15, 0.055);
  border-radius: 15px;
  letter-spacing: 3vw;
  z-index: -1;



}

@keyframes animate{
    50%,50%,50%
    {
        color:#06b7e3d5;
        text-shadow:none
    }
    50%,50%
    {
        color:#da93f0;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,

        

    }
}


/* Top Navigation Bar */
.container{
    display: table-row;
    position:fixed;
    right: 0px;
    margin: 30px;
    width:auto;
    border-radius:4px;
}

.topnav{
    display: flex;
    position:relative;
    justify-content: end;
    align-items: center;
    background-color: #000000;
    height: 6vw;
    top:-2vw;
    width: 100vw;
    gap: .5vw;




}

.topnav a{
    background-color: #3f65809e;
    color: #a2cfec;
    text-align: center;
    padding: 1vw 1.2vw;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: cursive;
    border-radius: 20pt;
    border-style:inset;
    border-top: #ffffff;
    border-bottom: #ffffff;
    grid-auto-rows: auto;

}

#changeColorButton{
    border:none;
}

.topnav a:hover {
    background-color: rgba(74, 24, 161, 0.205);
    color:rgb(206, 33, 203);
    transition: ease-in .2s;

    
}

#darkmode:hover {
    color:rgb(206, 33, 203);
    transition: ease-in .2s;

    
}

.topnav a:active {
    background-color: rgba(41, 209, 255, 0.292);
    color:rgba(137, 79, 94, 0.836);
}


/* Skills */
.skill h1{
    display: flex;
    position: relative;
    font-size: 45pt;
    top:1vw;
    color: white;
    justify-content: center;
    z-index: -1;
    font-family: "Sofia", cursive;
    font-weight: 100;
    letter-spacing: .1vw;
}

.lang{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90vw;


}

.title{
    font-family: Brush Script MT;
    font-size: 20pt;
    padding-top: 1%;
    margin-right:60%; 
}

.lang_image{
    display:flex;
    border-radius: 50%;
    transition: transform 0.5s ease-in;
    width:5vw;
    height:5vw;
    -webkit-box-reflect: below 8px linear-gradient(transparent, rgba(0, 0, 0, 0.32));
    outline: none;
    justify-content: space-evenly;
    /* z-index: -1; */
}

.lang_image :hover{
    animation:animate 1s linear;
    -webkit-box-reflect: below 10px linear-gradient(transparent, #0008);
    transform:scale(1.1);
    width:20vw;
}

/* Email */
.email{
    display:flex;
    border-radius: 50%;
    transition: transform 0.5 ease-in;
    width:4vw;
    height:4vw;
    -webkit-box-reflect: below .5px linear-gradient(transparent, #0008);
    outline: none;
    text-align: center;
    justify-content: space-evenly; 
}

.email:hover{
    animation:animate 1s linear;
    -webkit-box-reflect: below 6px linear-gradient(transparent, #0008);
    transform:scale(1.1)
}


/* Footer */
footer{
    margin-top: 10vw;
    width: 100%;
    height: 14vw;
    position: absolute;
    bottom: -500;
    background: linear-gradient(to right, rgba(24, 59, 85, 0.184), #26182d39);
    color: #fff;
    padding: 100px 0 20px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    box-shadow: 0 0 10px rgb(49, 59, 73);
}

.row{
    width:85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.logo{
    position: absolute;
    top:2vw;
    left:3vw;
    width: 200px;
    height: 150px;
    margin-bottom: 30px;
}

.contact {
    font-size: 35pt;
    position: absolute;
    top:2.5vw;
    left:44vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.contact_logo{
    border-radius: 100%;
    width: 6vw;
}


/* //////////////////////////////////////////////////////////////////////////// WHITE MODE ////////////////////////////////////////////////////////////////////////// */

.white {
    background-color: rgb(255, 255, 255);
}

.white .portfolio_header{
    background-color: rgba(183, 182, 182, 0.767);
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
    box-shadow: 0px 5px 5px rgba(98, 96, 96, 0.339);
}

.white .projects{
    color: rgb(0, 0, 0);
}

.white .aboutme {
    color: rgb(13, 13, 13);
    bottom:-3vw;

}

.white h1.aboutme{
    left:36vw;
}

.white .topnav a {
    display:row;
    position: relative;
    color: #0b0a0a;
    background-color: #9d98a33b;
    border-radius: 0em;
    font-family: "Domaine Sans Fine Regular Regular";
    border: none;
    top:0em;
    bottom:4em;
    padding-left: 2vw;
    padding-right: 2vw;
    letter-spacing: 2px;
}

.white .topnav a:hover {
    color: #50245a;
    background-color: #868b8ee1;
}

.white .container{
    display: table-row-group;
    position:fixed;
    right: 0px;
    top:1.5em;
    margin: 30px;
    width:auto;
    border-radius:4px;
    /* border: red 3px solid; */
}

#changeColorButton{
    background-color: transparent;
}

.white .topnav a:active {
    color: #635592;
    background-color: #20384b5f;
    /* border: rgb(0, 55, 255) 3px solid; */

}

.white .bg-img{
    background-color:transparent;
    color:transparent;
    min-height:150px;
    top:1px;
    background-position:center;
    background-size:cover;
    position: relative;
    margin:50px;
    border:solid 3px transparent;
    box-shadow: 1px 1px 40px #60636379;
    position: relative; 
    z-index: 1;
}

.white .name {
    display: flex;
    position: absolute;
    /* align-items: end; */
    color: #171616;
    animation: whiteTheme 3s linear;
    background-color: rgba(255, 255, 255, 0.422);
    font-family: "Domaine Sans Fine Regular Regular";
    letter-spacing: .7em;
    height: 1.2em;
    font-weight: 500;
    font-style: bold;
}

@keyframes whiteTheme {
    50%,50%,50%
    {
        color:#180909ea;
        text-shadow:none
    }
    50%,50%
    {
        color:#bab0df;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
    }
}

.white .bubbles span{
    position: relative;
    width:30px;
    height:25px;
    background: rgba(174, 223, 237, 0.557);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow:0 0 0 10px rgba(142, 181, 231, 0.322),
    0 0 50px rgb(57, 160, 230),
    0 0 100px rgb(57, 160, 230);
    animation: bubbly 10s linear infinite;
    animation-duration: calc(420s / var(--i));
}

@keyframes bubbly{
    0%{
        transform:translateY(50vh) scale(0)
    }
    100%{
        transform:translateY(1vh) scale(1)
    }
}

.white .bubbles span:nth-child(even){
    background: rgba(142, 222, 139, 0.349);
    box-shadow:0 0 0 10px rgba(191, 224, 190, 0.724),
    0 0 50px rgb(12, 255, 4),
    0em 0px 100px rgb(12, 255, 4);
}
